/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 575px) {
  .header {
    padding: 0 12px;
  }
  nav {
    margin: 0;
    padding-top: 30px;
  }
  .nav-title {
    margin-left: 0px;
    font-size: 30px;
  }

  nav li {
    margin-right: 10px;
  }

  nav li a {
    font-size: 12px;
  }

  .btn-primary {
    font-size: 14px;
    padding: 8px 20px;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 0 16px;
  }
  .banner-img-left {
    display: none !important;
  }
  .banner-content {
    width: auto;
    padding-bottom: 22px;
  }

  .banner-content-text {
    margin-left: 0px;
  }

  .banner-greeting {
    font-size: 30px;
    margin-top: 16px;
  }

  .banner-title {
    font-size: 30px;
  }

  .banner-description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 22px;
  }

  .banner .profile-pic {
    width: 100%;
    padding-top: 36px;
  }

  /* About */

  main section {
    margin-top: 22px;
  }
  .about {
    padding: 21px;
  }
  .about-content {
    padding: 10px;
  }

  .about-description {
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0;
  }

  .about-info-container {
    /* flex-direction: column; */
    flex-wrap: wrap;
    text-align: left;
  }
  .info-title {
    font-size: 16px;
  }

  .info-description {
    font-size: 14px;
  }
}

/* tablet devices (576 to 991) */
@media screen and (min-width: 575px) and (max-width: 1024px) {
  nav {
    margin: 0 12px;
    padding-top: 20px;
  }
  .nav-title {
    font-size: 45px;
    margin-left: 0;
  }

  .banner {
    padding: 0;
    align-items: end;
  }
  .banner-content {
    width: auto;
    padding-bottom: 22px;
  }
  .banner-img-left {
    display: none !important;
  }

  .banner-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .banner-description {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .banner .profile-pic {
    width: 250px;
    padding-top: 50px;
    margin-right: 30px;
  }

  /* About */

  main section {
    margin-top: 50px;
  }

  .about {
    padding: 40px;
}
}
