/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 575px) {
  .header {
    padding: 0 12px;
  }
  nav {
    margin: 0;
    padding-top: 30px;
  }
  .nav-title {
    margin-left: 0px;
    font-size: 30px;
  }

  nav li {
    margin-right: 10px;
  }

  nav li a {
    font-size: 12px;
  }

  .btn-primary {
    font-size: 14px;
    padding: 8px 20px;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 0 16px;
  }
  .banner-img-left {
    display: none !important;
  }
  .banner-content {
    width: auto;
    padding-bottom: 22px;
  }

  .banner-content-text {
    margin-left: 0px;
  }

  .banner-greeting {
    font-size: 30px;
    margin-top: 16px;
  }

  .banner-title {
    font-size: 30px;
  }

  .banner-description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 22px;
  }

  .banner .profile-pic {
    width: 100%;
    padding-top: 36px;
  }

  /* About */

  main section {
    margin-top: 22px;
  }
  .about {
    padding: 21px;
  }
  .about-content {
    padding: 10px;
  }

  .about-description {
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0;
  }

  .about-info-container {
    /* flex-direction: column; */
    flex-wrap: wrap;
    text-align: left;
    gap: 16px;
  }
  .info-title {
    font-size: 16px;
  }

  .info-description {
    font-size: 14px;
  }

  /* what-i-do-section */

  #what-i-do-section {
    padding: 20px 12px;
    padding: 0 12px;
  }

  .section-description {
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0 0px 0;
  }

  .skills-container {
    flex-direction: column;
    align-items: center;
    padding: 22px 12px 0 12px;
  }

  .skill-content-description {
    padding: 18px 0;
    text-align: center;
  }
  .skill-content-description img {
    border-radius: 50%;
    object-fit: cover;
  }

  .skill-description {
    width: auto;
  }

  /* Resume Section */

  .resume-section {
    padding: 0 12px 22px 12px;
  }
  .section-title {
    font-size: 22px;
    font-weight: 600;
  }

  .resume-container {
    margin-top: 34px;
    gap: 50px;
    flex-direction: column;
  }

  .resume-colum {
    width: auto;
  }

  .resume-item-description {
    width: auto;
    color: #757575;
    line-height: 28px;
  }
  .resume-colum-title {
    font-size: 26px;
    text-align: center;
  }

  .resume-item-title {
    font-size: 18px;
  }

  .resume-item-description {
    line-height: 22px;
  }
  .download-cv {
    margin-top: 16px;
  }
}

/* tablet devices (576 to 991) */
@media screen and (min-width: 575px) and (max-width: 1024px) {
  nav {
    margin: 0 12px;
    padding-top: 20px;
  }
  .nav-title {
    font-size: 45px;
    margin-left: 0;
  }

  .banner {
    padding: 0;
    align-items: end;
  }
  .banner-content {
    width: auto;
    padding-bottom: 22px;
  }
  .banner-img-left {
    display: none !important;
  }

  .banner-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .banner-description {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .banner .profile-pic {
    width: 250px;
    padding-top: 50px;
    margin-right: 30px;
  }

  /* About */

  main section {
    margin-top: 50px;
  }

  .about {
    padding: 40px;
  }

  /*  */

  .skills-container {
    flex-wrap: wrap;
    justify-content: start;
    gap: 24px;
    text-align: center;
  }

  .skill-description {
    width: 150px;
    line-height: 20px;
  }

  .skill-content-description img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  /*  */
}
